@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}
.container{
    margin-left: 5%;
    margin-right: 5%;
    position: absolute;
    top:50px;
}
header nav {
    text-align: right;
    background-color:#0D5C63 ;
    position: fixed;
    width: 100%;
}
header nav ul li {
    display: inline-block;
    padding: 10px 15px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif; 
}
header nav ul li a{
    text-decoration: none;
    color: #F2F2F2;
}
.info{
   margin-top: 10px; 
}
.info img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    float:left;
    margin-right: 100px;
}
.contactInfo{
    padding-top: 60px;
}
.contactInfo h2{
    color: #0D5C63;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder; 
    word-spacing: 5px;
    text-shadow: 1px 1px 1px rgb(75, 74, 74);
}
.contactInfo p{
    color: #0D5C63; 
    font-weight: bolder;
    letter-spacing: 2px;
    padding-top: 10px;
}
.summary{
    margin-top: 30px;
}
.summary h2{
    color: #0D5C63;  
}
.summary ul li{
    padding:10px 0px;
    color: #0D5C63; 
    font-weight: bolder;
}
.summary ul li::before{
    content: '✍️';
    font-size: larger;
    padding-right: 20px;
}
.summary ul li::selection{
    background-color: rgb(204, 181, 140);
}
.techStach h3{
    color: #0D5C63; 
    font-weight: bolder;
    margin-top: 20px;
}

.techStach table,tr,td{
    border: 1px solid #0D5C63;
    border-collapse: collapse;
    color: #0D5C63; 
    font-weight: bolder;
}
.techStach table, th,td{
    padding: 10px;
}
.education h3{
    color: #0D5C63; 
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 10px;
}
.education table,th,tr,td{
    border: 1px solid #0D5C63;
    border-collapse: collapse;
    color: #0D5C63; 
    font-weight: bolder;
}

.education table th, td{
    padding: 10px;
}
#hobies{
    margin: 20px;
    
  }
  .personal span{
    margin-left: 20px;
  }

  .personal h3,p,ul,li,strong{
    color: #0D5C63;
    
    font-weight: bolder;
    padding-top: 5px; 
  }
   h3{
    color: #0D5C63;
    font-size:large;
    font-weight: bolder;
    margin-top: 20px ; 
    margin-bottom: 10px;
  }
   img{   
    border-radius: 50%;
  }
 
